body{
    background-color: #EEEEEE;
}
form{
    background-color: white;
    width: 50%;
    padding: 30px;
    margin: 5% 30% 5% 25%;
    border-bottom-right-radius: 20%;
}
.form-control{
    width: 20%;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
#daylabel{
    margin-left: 10px;
    padding-right: 18.5%;
}
#monthlabel{
    padding-right: 15.5%;
}
hr{
    display: inline-block;
    width: 87%;
}
i{
    color: hsl(259, 100%, 65%);
}
span{
    color: hsl(259, 100%, 65%);
}
h1{
    font-size: 600%;
}
.false{
    color: red;
}

